/* flex */

.f-flex {
	display: flex;
}

.f-flex-direction-horizontal {
	flex-direction: row;
}

.f-flex-direction-vertical {
	flex-direction: column;
}

.f-horizontal-align-center {
	justify-content: center;
}

.f-vertical-align-center {
	align-items: center;
}

/* paddings */

.p-small {
	padding: 2.5pt;
}

.p-left-small {
	padding-left: 2.5pt;
}

.p-right-small {
	padding-right: 2.5pt;
}

.p-horizontal-small {
	padding-left: 2.5pt;
	padding-right: 2.5pt;
}

.p-top-small {
	padding-top: 2.5pt;
}

.p-bottom-small {
	padding-bottom: 2.5pt;
}

.p-vertical-small {
	padding-top: 2.5pt;
	padding-bottom: 2.5pt;
}

/* common */

html {
	font-size: 10pt;
	font-family: "Courier New", Monospace;
}

p {
	margin-top: 5pt;
	margin-bottom: 5pt;
}

button {
	margin-top: 2.5pt;
	margin-bottom: 2.5pt;
	margin-left: 2.5pt;
	margin-right: 2.5pt;
}

/* custom */

.app {
	margin: 5pt;
}

.footer {
	position: fixed;
	bottom: 0;

	margin-bottom: 5pt;
}

.footer p {
	margin: 0;
}

pre {
	margin-bottom: 2.5pt;

	width: 300pt;

	user-select: none;

	background: -webkit-linear-gradient(#000, #fff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container {
	user-select: none;

	border: 1px black solid;
	background-color: rgb(248, 248, 248);
	margin: 2.5pt;
	padding: 5pt;
}

.dropzone div {
	cursor: pointer;

	width: 600pt;

	padding-top: 50pt;
	padding-bottom: 50pt;
}

.dropzone p {
	text-align: center;
}

.filesTable {
	width: 600pt;
}